{% extends 'basic.html' %} {% block body %}
{% load static %}
<body>  
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            {% for item in Promotions %}
            <div class="single-hero-items set-bg" data-setbg="/media/{{item.promtion_cover1}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>{{item.promotion_title}}</span>
                            <h1>{{item.promotion_name}}</h1>
                            <p>{{item.promotion_desc|truncatechars:100}}</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>{{item.promotion_up_to}}%</span></h2>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                {% for i in Products %}
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="/media/{{i.product_baneer}}" alt="">
                        <div class="inner-text">
                            <h4>{{i.product_category}}</h4>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class='row'>
                {% endif%} {% endfor %}
            </div>
        </div>
    </div>

    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="{% static 'home/Images/Covers/women-large.jpg' %}">
                        <h2>Women’s</h2>
                        <a href="/shop/">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            {% for ctg in woman_ctg %}
                            <li class="active">{{ctg}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        {% for item in woman_items %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="/media/{{item.item_image}}" alt=""> {% if item.item_Discount_pricse != 0.0 %}
                                <div class="sale">Sale</div>
                                {% endif %}
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/product/{{item.item_id}}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{item.item_name}}</div>
                                <a href="#">
                                    <h5>{{item.item_titile}}</h5>
                                </a>
                                <div class="product-price">
                                    {{item.item_FrashPricse}} {% if item.item_Discount_pricse != 0.0 %}
                                    <span>{{item.item_Discount_pricse}}</span> {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section class="deal-of-week set-bg spad" data-setbg="{% static '/home/Images/Promotions/time-bg.jpg' %}">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Deal Of The Week</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet, consectetur adipisicing elit </p>
                    <div class="product-price">
                        $35.00
                        <span>/ HanBag</span>
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>56</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hrs</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Secs</p>
                    </div>
                </div>
                <a href="#" class="primary-btn">Shop Now</a>
            </div>
        </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
      <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <ul>
                            {% for ctg in man_ctg   %}
                            <li>{{ctg}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                     {% for item in man_items %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="/media/{{item.item_image}}" alt="">
                                {% if item.item_Discount_pricse != 0 %}
                                <div class="sale">Sale</div>
                                {% endif %}
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/product/{{item.item_id}}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{item.item_name}}</div>
                                <a href="#">
                                    <h5>{{item.item_titile}}</h5>
                                </a>
                                <div class="product-price">
                                    {{item.item_FrashPricse}}
                                    {% if item.item_Discount_pricse != 0 %}
                                    <span>$35.00</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="{% static 'home/Images/Covers/man-large.jpg' %}">
                        <h2>Men’s</h2>
                        <a href="/shop/">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <div class="insta-item set-bg" data-setbg="/static/home/Images/socialmedia/insta-1.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/static/home/Images/socialmedia/insta-2.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/static/home/Images/socialmedia/insta-3.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/static/home/Images/socialmedia/insta-4.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/static/home/Images/socialmedia/insta-5.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/static/home/Images/socialmedia/insta-6.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for post in Blogs %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="/media/{{post.cover_img}}" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i> {{post.publish_date}}
                                </div>
                                {% comment %} <div class="tag-item">
                                    <i class="fa fa-comment-o"></i> 5
                                </div> {% endcomment %}
                            </div>
                            <a href="/Blog/Blog/{{post.id}}">
                                <h4>{{post.title}}</h4>
                            </a>
                             {% autoescape off %}
                             {{post.Paragraph|truncatechars:100}}
                             {% endautoescape %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'home/Images/icon-shipment.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over 99$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'home/Images/icon-time.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'home/Images/icon-payment.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

</body>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
{% endblock %}