{% extends 'basic.html' %} {% block body %}

<body>
    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter-widget">
                        <h4 class="fw-title">Categories</h4>
                        <ul class="filter-catagories">
                            <li><a href="/filter_catagory/Man">Men</a></li>
                            <li><a href="/filter_catagory/Woman">Women</a></li>
                            <li><a href="/filter_catagory/Kid">Kids</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">

                                <img class="product-big-img " src="/media/{{product.item_zoom_pic1}}" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <div class="product-thumbs">
                                <div class="product-thumbs-track ps-slider owl-carousel">
                                    <div class="pt zoomactive" data-imgbigurl="{{item_zoom_pic.item_zoom_pic1}}"><img src="/media/{{product.item_zoom_pic1}}" alt=""></div>
                                    <div class="pt zoomactive" data-imgbigurl="{{item_zoom_pic.item_zoom_pic2}}"><img src="/media/{{product.item_zoom_pic2}}" alt=""></div>
                                    <div class="pt zoomactive" data-imgbigurl="{{item_zoom_pic.item_zoom_pic3}}"><img src="/media/{{product.item_zoom_pic3}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">

                                    <h3>{{ product.item_name }}</h3>
                                    <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                </div>
                                <div class="pd-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="pd-desc">
                                    <p>{{product.item_discription}}</p>
                                    <h4>{{product.item_FrashPricse}}<span>{{product.item_Discount_pricse}}</span></h4>
                                </div>
                                <div class="pd-color">
                                    <h6>Color</h6>
                                    <div class="pd-color-choose">
                                        {% if product.item_color1 != None %}
                                        <div class="cc-item">
                                            <input type="radio" id="">
                                            <label for="" style='Background-color:{{product.item_color1}}'></label>
                                        </div>
                                        {% endif %} {% if product.item_color2 != None %}
                                        <div class="cc-item">
                                            <input type="radio" id="">
                                            <label for="" style='Background-color:{{product.item_color2}}'></label>
                                        </div>
                                        {% endif %} {% if product.item_color3 != None %}
                                        <div class="cc-item">
                                            <input type="radio" id="">
                                            <label for="" style='Background-color:{{product.item_color3}}'></label>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="pd-size-choose">
                                    {% if product.small %}
                                    <div class="sc-item">
                                        <input type="radio" id="sm-size">
                                        <label for="sm-size">s</label>
                                    </div>
                                    {% endif %} {% if product.medium %}
                                    <div class="sc-item">
                                        <input type="radio" id="md-size">
                                        <label for="md-size">m</label>
                                    </div>
                                    {% endif %} {% if product.large %}
                                    <div class="sc-item">
                                        <input type="radio" id="lg-size">
                                        <label for="lg-size">l</label>
                                    </div>
                                    {% endif %} {% if product.extra_small %}
                                    <div class="sc-item">
                                        <input type="radio" id="xl-size">
                                        <label for="xl-size">xs</label>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                    <a href="#" class="primary-btn pd-cart">Add To Cart</a>
                                </div>
                                <ul class="pd-tags">
                                    <li><span>CATEGORIES</span>: {{product.item_category}}</li>
                                    <li><span>TAGS</span>: {{product.item_subCategory}}</li>
                                </ul>
                                <div class="pd-share">
                                    <div class="p-code">Sku : {{product.item_id}}</div>
                                    <div class="pd-social">
                                        <a href="#"><i class="ti-facebook"></i></a>
                                        <a href="#"><i class="ti-twitter-alt"></i></a>
                                        <a href="#"><i class="ti-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews (02)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="product-content">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <h5>Introduction</h5>
                                                <p>{{product.item_discription}} </p>
                                                <h5>Features</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                    ex ea commodo consequat. Duis aute irure dolor in </p>
                                            </div>
                                            <div class="col-lg-5">
                                                <img src="img/product-single/tab-desc.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="specification-table">
                                        <table>
                                            <tr>
                                                <td class="p-catagory">Customer Rating</td>
                                                <td>
                                                    <div class="pd-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <span>(5)</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Price</td>
                                                <td>
                                                    {% if product.item_item_Discount_pricse != 0 %}
                                                    <div class="p-price">${{product.item_FrashPricse}}</div>
                                                    {% else %}
                                                    <div class="p-price">${{product.item_Discount_pricse}}</div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Add To Cart</td>
                                                <td>
                                                    <div class="cart-add">+ add to cart</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Availability</td>
                                                <td>
                                                    <div class="p-stock">{{product.item_quantity}} in stock</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Weight</td>
                                                <td>
                                                    <div class="p-weight">{{product.item_weight}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Size</td>
                                                <td>
                                                    {% if product.small %}
                                                    <div class="p-size">S</div>
                                                    {% elif product.extra_small %}
                                                    <div class="p-size">XS</div>
                                                    {% elif product.medium %}
                                                    <div class="p-size">M</div>
                                                    {% elif product.large %}
                                                    <div class="p-size" L</div>
                                                        {% elif product.extra_large %}
                                                        <div class="p-size">XL</div>
                                                        {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Color</td>
                                                <td>
                                                    <span class="cs-color" style='background-color: {{product.item_color1}}'></span>
                                                    <span class="cs-color" style='background-color: {{product.item_color2}}'></span>
                                                    <span class="cs-color" style='background-color: {{product.item_color3}}'></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Sku</td>
                                                <td>
                                                    <div class="p-code">{{product.item_id}}</div>
                                                </td>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                        <div class="customer-review-option">
                                            <h4>Comments</h4>
                                            <div class="comment-option">
                                            {% for comment in comments %}
                                                <div class="co-item">
                                                     <div class="avatar-pic">
                                                        
                                                        <span uk-icon="icon: check; ratio: 1"></span>
                                                    </div>
                                                    
                                                        <h5> {{ comment.user }} <span>  : </span>
                                                       <small>{{comment.timestamp}}</small> </h5>
                                                        <div class="at-reply"> {{comment.comment}} </div>
                                                    </div>
                                            {% endfor %}
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="leave-comment">
                                                {% if user.is_authenticated %}
                                                <h4>Leave A Comment</h4>
                                                <br>
                                                <form action="/postcomment/{{id}}" class="comment-form" method="POST">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h6><span uk-icon="icon: user; ratio: 0.8"></span> {{user}}</h6>
                                                            <!-- <input type="text" name='name' placeholder="Name"> -->
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="col-lg-8">
                                                            <textarea placeholder="Messages" name='comment' class='form-control'></textarea>
                                                            <br>
                                                            <button type="submit" class="site-btn  float-right">Send message</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Related Products Section End -->
    <div class="related-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in realted_products %}
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="/media/{{item.item_image}}" alt=""> {% if item.item_Discount_pricse != 0.0 %}
                            <div class="sale">Sale</div>
                            {% endif %}
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="/product/{{item.item_id}}">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">{{item.item_name}}</div>
                            <a href="#">
                                <h5>{{Item.item_titile}}</h5>
                            </a>
                            {% if item.item_Discount_pricse != 0.0 %}
                            <div class="product-price">
                                ${{item.item_Discount_pricse}}
                                <span>{{item.item_FrashPricse}}</span>
                            </div>
                            {% else %}
                            <div class="product-price">
                                ${{item.item_FrashPricse}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/products/women-2.jpg" alt="">
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- Related Products Section End -->
</body>
{% endblock %}
{% block Js %}
<script></script>
{% endblock  %}